{% extends "includes_main/base.html" %}
{% block title %}Пост автора{% endblock %}

{% block content %}
    <div class="container">
        <h1>Пост автора {{ author.username }} от {{ post.pub_date|date:"d M Y" }}</h1>
        <div class="row">
            {% include "includes_posts/small_profile.html" %}
            <div class="col-md-9">
                {% include "includes_posts/post_item.html" with post=post %}
                {% include "includes_posts/comments.html" %}
            </div>
        </div>
    </div>
{% endblock %}